{% extends 'base.html' %}
{% load crispy_forms_tags %}

{% block title %}Edit Study Info{% endblock %}


{% block content %}
  <div class="container">
    <div class="row">
      <div class="col-md-12">
        <ol class="breadcrumb">
          <li class="breadcrumb-item"><a href="{% url 'gwas:overview' gwas.slug %}">Study</a></li>
          <li class="breadcrumb-item active">Edit</li>
        </ol>
      </div>
    </div>

    <div class="row">
      <div class="col-md-12">
        <h2>Edit Study Data</h2>
        <form method="POST">
          {% csrf_token %}
          {{ form | crispy }}
          <input class="btn btn-success" type="submit" value="Submit"/>
        </form>

        {#  TODO: This is more useful in staging/ debug mode: it allows completely rerunning the ingest step on the same file #}
        <h2>Potentially destructive actions</h2>
        <a class="btn btn-warning" href="{% url 'gwas:rerun' gwas.slug %}">Re-run ingest step</a>
        <a class="btn btn-warning" href="{% url 'gwas:delete' gwas.slug %}">Delete this study</a>
      </div>
    </div>
  </div>
{% endblock %}
