{% extends 'base.html' %}
{% load render_bundle from webpack_loader %}

{% block title %}Region plot- {{ gwas.analysis }}{% endblock %}
{% block css %}
  <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/locuszoom@0.9.0/dist/locuszoom.css" type="text/css"/>
{% endblock %}

{%  block content %}
  <h1>LocusZoom Plot for {{ gwas.analysis }}</h1>
  {% if gwas.is_public %}<span class="badge badge-primary">Public</span>{% endif %}
  <div class="row">
    <div class="col-md-12">
      <div id="app"></div>
    </div>
  </div>
{% endblock %}

{%  block javascript %}
  <script type="application/javascript">
    {#var template_args = JSON.parse(document.getElementById('js-vars').textContent);#}
    window.template_args = {{ js_vars |safe }};

  </script>
{#  {{ js_vars | json_script: 'js-vars' }}#}
  {#  Define the LocusZoom plot #}
  {% render_bundle 'gwas_region' %}
{% endblock %}
