{% extends 'base.html' %}
{% load staticfiles %}


{% block title %}Overview- {{ object.analysis }}{% endblock %}
{%  block extrahead %}
  {#  PheWeb manhattan plot requirements #}
  <script src="https://cdn.jsdelivr.net/npm/d3@3.5.16" type="application/javascript"></script>
  <script src="https://cdn.jsdelivr.net/npm/underscore@1.8.3" type="application/javascript"></script>
  <script src="https://cdn.jsdelivr.net/npm/d3-tip@0.6.7" type="application/javascript"></script>

  <script src="{% static 'js/pheweb/pheno.js' %}" type="application/javascript"></script>

  <style type="text/css">
    .d3-tip {
      line-height: 1.4;
      padding: 12px;
      background: rgba(0, 0, 0, 0.8);
      color: #fff;
      border-radius: 4px;
      pointer-events: none;
    }
    /* Creates a small triangle extender for the tooltip */
    .d3-tip:after {
      display: inline;
      font-size: 10px;
      width: 100%;
      line-height: 1;
      color: rgba(0, 0, 0, 0.8);
      position: absolute;
      pointer-events: none;
    }
    /* Northward tooltips */
    .d3-tip.n:after {
      content: "\25BC";
      margin: -3px 0 0 0;
      top: 100%;
      left: 0;
      text-align: center;
    }

    #manhattan_plot_container {
      min-width: 700px;
    }
    #manhattan_plot_container .axis > path.domain {
      stroke-width: 2px;
      stroke: #666;
      fill: none;
    }
    #manhattan_plot_container .axis g.tick line {
      stroke: #666;
    }
</style>
{% endblock %}

{%  block content %}
  <h1>Analysis summary</h1>
  <h2>For: {{ object.analysis }}</h2>

  <a href="{{ object.top_hit_view.get_absolute_url }}" class="btn btn-primary">LocusZoom Plot</a>

  {#  TODO: Track variant name #}
  <p>
    <strong>Top hit</strong>: {{ object.top_hit_view.chrom }} : {{ object.top_hit_view.start}} - {{ object.top_hit_view.end }}
  </p>

  <div id="manhattan_plot_container"></div>
{% endblock %}

{% block extrafoot %}
  <script type="application/javascript">
    // Required as hardcoded global reference in PheWeb pheno.js
    window.model = {
        // TODO: make sure more variants have ref/alt information
        urlprefix: '{% url 'gwas:region' object.id %}',
        tooltip_underscoretemplate: '<b><%= d.chrom %>:<%= d.pos.toLocaleString() %> <%= d.ref %> / <%= d.alt %></b><br>'
    };
    window.pheno = '';  // FIXME: Pheno.js hardcodes a specific link structure that will be wrong for this site

    window.addEventListener('load', function() {
      fetch('{% url 'gwas:manhattan-json' object.id %}')
          .then(resp => resp.json())
          .then(data => {
              create_gwas_plot(data.variant_bins, data.unbinned_variants);
          });
    });

  </script>

{% endblock %}
