{% extends 'base.html' %}
{% load render_bundle from webpack_loader %}

{% block title %}Region plot- {{ gwas.label }}{% endblock %}
{% block css %}
  <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/locuszoom@0.9.0/dist/locuszoom.css" type="text/css"/>
{% endblock %}

{% block content %}
  <div class="container">
    <div class="row">
      <div class="col-md-12">
        <ol class="breadcrumb">
          <li class="breadcrumb-item">
            <a href="{% filter add_token:token %}{% url 'gwas:overview' gwas.slug %}{% endfilter %}">{{ gwas.label }}</a>
          </li>
          <li class="breadcrumb-item active">Region view</li>
        </ol>

        {% if gwas.study_name %}<span class="text-muted">Study: {{ gwas.study_name }}</span><br>{% endif %}
        <span class="text-muted">Uploaded by: {{ gwas.owner.display_name }}, {{ gwas.created | date }}</span>
        {% if gwas.is_public %}<span class="badge badge-info">Public</span> {% else %}<span class="badge badge-warning">Private</span>{% endif %}
        {% if gwas.pmid %}<a href="https://www.ncbi.nlm.nih.gov/pubmed/{{gwas.pmid}}" target="_blank" class="badge badge-dark">PubMed</a>{% endif %}
      </div>
    </div>

    <div id="app"></div>
  </div>
{% endblock %}

{% block javascript %}
  <script type="application/javascript">
    {#var template_args = JSON.parse(document.getElementById('js-vars').textContent);#}
    window.template_args = {{ js_vars |safe }};

  </script>
  {#  {{ js_vars | json_script: 'js-vars' }}#}
  {#  Define the LocusZoom plot #}
  {% render_bundle 'gwas_region' %}
{% endblock %}
