{% extends 'base.html' %}
{% load render_bundle from webpack_loader %}


{% block title %}Study- {{ gwas.label }}{% endblock %}


{% block css %}
  <style type="text/css">
    .d3-tip {
      line-height: 1.4;
      padding: 12px;
      background: rgba(0, 0, 0, 0.8);
      color: #fff;
      border-radius: 4px;
      pointer-events: none;
    }

    /* Creates a small triangle extender for the tooltip */
    .d3-tip:after {
      display: inline;
      font-size: 10px;
      width: 100%;
      line-height: 1;
      color: rgba(0, 0, 0, 0.8);
      position: absolute;
      pointer-events: none;
    }

    /* Northward tooltips */
    .d3-tip.n:after {
      content: "\25BC";
      margin: -3px 0 0 0;
      top: 100%;
      left: 0;
      text-align: center;
    }

    #manhattan_plot_container {
      min-width: 700px;
    }

    #manhattan_plot_container .axis > path.domain {
      stroke-width: 2px;
      stroke: #666;
      fill: none;
    }

    #manhattan_plot_container .axis g.tick line {
      stroke: #666;
    }

    #qq_plot_container .axis path.domain {
      stroke: black;
      fill: none;
    }

    #qq_plot_container .axis g.tick line {
      stroke: #666;
      opacity: 0.3;
    }

    .pheno-info > p {
      margin-bottom: 0;
    }
  </style>
{% endblock %}

{% block content %}
  <div class="container-fluid">
    <h1>{{ gwas.label }}</h1>
    <div class="row">
      <div class="col-md-12">
        {% if gwas.study_name %}<span class="text-muted">Study: {{ gwas.study_name }}</span><br>{% endif %}
        <span class="text-muted">Build: {{ gwas.build }}</span><br>
        <span class="text-muted">Uploaded by: {{ gwas.owner.display_name }}, {{ gwas.created | date }}</span>
        {% if gwas.is_public %}<span class="badge badge-info">Public</span> {% else %}<span class="badge badge-warning">Private</span>{% endif %}
        {% if gwas.pmid %}<a href="https://www.ncbi.nlm.nih.gov/pubmed/{{gwas.pmid}}" target="_blank" class="badge badge-dark">PubMed</a>{% endif %}
        {% if gwas.owner == request.user %}(<a href="{% url 'gwas:edit' gwas.slug %}">edit</a>)
          {% if not gwas.is_public %}(<a href="{% url 'gwas:share' gwas.slug %}">share</a>){% endif %}
        {% endif %}
      </div>
    </div>

    {% if gwas.ingest_status == 2 %}
      <div class="row">
        <div class="col-md-8"></div>
        <div class="col-md-4">
          <a class="btn btn-outline-secondary float-right" href="{% filter add_token:token %}{% url 'gwas:gwas-download' gwas.slug %}{% endfilter %}">Download summary statistics</a>
          {%  if request.user == gwas.owner %}
            <a class="btn btn-outline-secondary float-right" href="{% url 'gwas:gwas-ingest-log' gwas.slug %}">Ingest Logs</a>
          {% endif %}
        </div>
      </div>

      <div class="row">
        <div class="col-md-12">
          <h3>Manhattan Plot</h3>
          <p>
            Click on any peak in the manhattan plot below to jump to a specific LocusZoom region view, or visit the
            <a href="{% url 'gwas:region' gwas.slug %}">region page</a> to make plots for any region in your dataset
            (with search features for gene, position, or rsid).
          </p>
          <div id="manhattan_plot_container"></div>
        </div>
      </div>

      <div class="row">
        <div class="col-md-12">
          <h3>Top Loci</h3>
          <div id="top-hits-table"></div>
        </div>
      </div>

      <div class="row">
        <div class="pheno-info col-xs-12 col-sm-4 col-md-3 col-lg-3">
          <h3>QQ Plot:</h3>
          <div id="qq_plot_container"></div>
          <p class="gc-control"></p>
          <i>(Genomic Control lambda calculated based on the 50th percentile (median), 10th percentile, 1st percentile,
            and 1/10th of a percentile)</i>
        </div>
      </div>
    {% elif gwas.ingest_status == 0 %}
      This file is still being processed. A notification email will be sent when it is ready.
    {% else %}
      <p>We were unable to process your uploaded GWAS file. Please review the logs for the cause, and contact us
        if you believe the problem is an error.</p>
      {%  if request.user == gwas.owner %}
        <form method="post" action="{% url 'gwas:rerun' gwas.slug %}" class="form-horizontal">
          {% csrf_token %}
          <a class="btn btn-outline-secondary" href="{% url 'gwas:gwas-ingest-log' gwas.slug %}">Ingest Logs</a>
          <button class="btn btn-warning" type="submit">Re-run ingest step</button>
        </form>
      {% endif %}
    {% endif %}
  </div>
{% endblock %}

{% block javascript %}
  <script src="https://cdn.jsdelivr.net/npm/d3@3.5.16" type="application/javascript"></script>

  <script src="https://cdn.jsdelivr.net/npm/d3-tip@0.6.7" type="application/javascript"></script>

  <script type="application/javascript">
    {#var template_args = JSON.parse(document.getElementById('js-vars').textContent);#}
    {# FIXME: Improve JS variable handling for Django 2.1 LTS #}
    window.template_args = {{ js_vars |safe }};

    // Required as hardcoded global reference in PheWeb pheno.js
    window.model = {
      urlprefix: '{% filter add_token:token %}{% url 'gwas:region' gwas.slug %}{% endfilter %}',
      tooltip_underscoretemplate: '<b><%- d.chrom %>:<%- d.pos.toLocaleString() %> <%- d.ref %> / <%- d.alt %></b><br>-log<sub>10</sub>(p): <%- d.neg_log_pvalue && (+d.neg_log_pvalue).toFixed(3) %><br>Nearest gene(s): <%- d.nearest_genes && d.nearest_genes.length && d.nearest_genes.map(function(gene) { return gene.symbol; }).join(", ") %>'
    };
    window.pheno = '';
  </script>

  {% if GOOGLE_ANALYTICS_ID %}
    <script>
      // Track aggregate manhattan plots viewed (across all possible studies) as an event
      gtag('event', 'manhattanview');
    </script>
  {% endif %}

  {% render_bundle 'gwas_summary' %}
{% endblock %}
