{% extends 'base.html' %}
{% load render_bundle from webpack_loader %}


{% block title %}Study- {{ gwas.label }}{% endblock %}


{% block css %}
  <style type="text/css">
    .d3-tip {
      line-height: 1.4;
      padding: 12px;
      background: rgba(0, 0, 0, 0.8);
      color: #fff;
      border-radius: 4px;
      pointer-events: none;
    }

    /* Creates a small triangle extender for the tooltip */
    .d3-tip:after {
      display: inline;
      font-size: 10px;
      width: 100%;
      line-height: 1;
      color: rgba(0, 0, 0, 0.8);
      position: absolute;
      pointer-events: none;
    }

    /* Northward tooltips */
    .d3-tip.n:after {
      content: "\25BC";
      margin: -3px 0 0 0;
      top: 100%;
      left: 0;
      text-align: center;
    }

    #manhattan_plot_container {
      min-width: 700px;
    }

    #manhattan_plot_container .axis > path.domain {
      stroke-width: 2px;
      stroke: #666;
      fill: none;
    }

    #manhattan_plot_container .axis g.tick line {
      stroke: #666;
    }

    #qq_plot_container .axis path.domain {
      stroke: black;
      fill: none;
    }

    #qq_plot_container .axis g.tick line {
      stroke: #666;
      opacity: 0.3;
    }

    .pheno-info > p {
      margin-bottom: 0;
    }
  </style>
{% endblock %}

{% block content %}
  <div class="container-fluid">
    <h1>Analysis summary for: <em>{{ gwas.label }}</em></h1>
    <div class="row">
      <div class="col-md-12">
        <span class="text-muted">Created by: {{ gwas.owner.display_name }}, {{ gwas.created | date }}</span>
        {% if gwas.is_public %}<span class="badge badge-primary">Public</span>{% endif %}
        {% if gwas.owner == request.user %}(<a href="{% url 'gwas:edit' gwas.slug %}">edit</a>){% endif %}
      </div>
    </div>

    {% if gwas.ingest_status == 2 %}
      <div class="row">
        <div class="col-md-8"></div>
        <div class="col-md-4">
          <a class="btn btn-outline-secondary float-right" href="{% url 'gwas:gwas-download' gwas.slug %}">Download summary statistics</a>
        </div>
      </div>

      <div class="row">
        <div class="col-md-12">
          <div id="manhattan_plot_container"></div>
        </div>
      </div>

      <div class="row">
        <div class="col-md-12">
          <h3>Top Hits</h3>
          <div id="top-hits-table"></div>
        </div>
      </div>

      <div class="row">
        <div class="pheno-info col-xs-12 col-sm-4 col-md-3 col-lg-3">
          <h3>QQ plot:</h3>
          <div id="qq_plot_container"></div>
          <p class="gc-control"></p>
          <i>(Genomic Control lambda calculated based on the 50th percentile (median), 10th percentile, 1st percentile,
            and 1/10th of a percentile)</i>
        </div>
      </div>
    {% elif gwas.ingest_status == 0 %}
      Your file is still being processed. A notification email will be sent when it is ready.
    {% else %}
      <p>An error occurred while processing your GWAS file. Please contact us if the problem persists.</p>
      <p><a class="btn btn-warning" href="{% url 'gwas:rerun' gwas.slug %}">Re-run ingest step</a></p>
    {% endif %}
  </div>
{% endblock %}

{% block javascript %}
  <script src="https://cdn.jsdelivr.net/npm/d3@3.5.16" type="application/javascript"></script>

  <script src="https://cdn.jsdelivr.net/npm/d3-tip@0.6.7" type="application/javascript"></script>

  <script type="application/javascript">
    {#var template_args = JSON.parse(document.getElementById('js-vars').textContent);#}
    {# FIXME: Improve JS variable handling for Django 2.1 LTS #}
    window.template_args = {{ js_vars |safe }};

    // Required as hardcoded global reference in PheWeb pheno.js
    window.model = {
      // TODO: make sure more variants have ref/alt information
      urlprefix: '{% url 'gwas:region' gwas.slug %}',
      tooltip_underscoretemplate: '<b><%= d.chrom %>:<%= d.pos.toLocaleString() %></b><br>'
    };
    window.pheno = '';
  </script>

  {% render_bundle 'gwas_summary' %}
{% endblock %}
