{% extends 'base.html' %}
{% load crispy_forms_tags %}

{% block title %}Share this study{% endblock %}


{% block content %}
  <div class="container">
    <div class="row">
      <div class="col-md-12">
        <ol class="breadcrumb">
          <li class="breadcrumb-item"><a href="{% url 'gwas:overview' gwas.slug %}">Study</a></li>
          <li class="breadcrumb-item active">Share</li>
        </ol>
      </div>
    </div>
    <div class="row">
      <div class="col-md-12">
        {% if gwas.is_public %} {# If the study is public, no "special access" links are needed! #}
          <p>
            This GWAS is already publicly accessible, and can be shared via the following URL:
            <a href="{% url 'gwas:overview' gwas.slug %}">{{ request.scheme }}://{{ request.get_host }}{% url 'gwas:overview' gwas.slug %}</a>.
          </p>
        {% else %}
          <h2>Shareable links</h2>
          <table class="table table-striped">
            <tr>
              <th>Label</th>
              <th>URL</th>
            </tr>
            {% for link in viewlinks %}
              <tr>
                <td>{% firstof link.label link.created %}</td>
                <td>(<a href="{{ link.get_absolute_url }}">link</a>)</td>
              </tr>
            {% empty %}
              <tr>
                <td colspan="2">There are no shareable links yet.</td>
              </tr>
            {% endfor %}
          </table>


          <h2>Create a shareable link</h2>
          <p>
            Generate a secret link that can be used to share your private studies only with trusted collaborators.
            Only you can see this page or create new shareable links.
          </p>

          <form method="POST">
            {% csrf_token %}
            {{ form | crispy }}
            <input class="btn btn-success" type="submit" value="Create"/>
          </form>
        {% endif %}
      </div>
    </div>
  </div>
{% endblock %}
