{% extends 'base.html' %}
{% load crispy_forms_tags %}
{% load render_bundle from webpack_loader %}

{% block css %}
  <style> {# Hack: hide this field because we will set parser options via vue modal #}
    #div_id_fileset-parser_options {
      display: none;
    }
  </style>
{% endblock %}

{% block content %}
  <div class="container-fluid">
    <div class="row">
      <div class="col-md-6">
        <form action="{% url 'gwas:upload' %}" enctype="multipart/form-data" method="POST">
          {% csrf_token %}
          {{ form.metadata | crispy }}
          {{ form.fileset | crispy }}
          <input class="btn btn-success" type="submit" value="Submit" />
        </form>
      </div>
    </div>

    {#  For options modal and future features #}
    <div id="vue-app"></div>
  </div>
{% endblock %}

{%  block javascript %}
  {% render_bundle 'gwas_upload' %}
{% endblock %}
