{% extends "account/base.html" %}

{% load i18n %}
{% load account socialaccount %}
{% load crispy_forms_tags %}

{% block head_title %}{% trans "Sign In" %}{% endblock %}

{% block inner %}
  <div class="jumbotron d-flex align-items-center">
    <div class="container">
  <div class="row">
    <div class="col-md-6 align-items-center d-flex">
      <a class="btn btn-primary" href="{% provider_login_url "google" %}">Connect with Google</a>
    </div>
    <div class="col-md-6">
      Anyone can browse public studies, but you will need to create an account in order to upload your own datasets and
      use other advanced features.
    </div>
  </div>
    </div>
  </div>


{% endblock %}

