### Python template
__pycache__/
.pytest_cache/
.ipython/
celerybeat.pid
.python-version

# Django stuff:
staticfiles/

# Webpack built assets (and files that reference them)
assets/webpack_bundles/
webpack-stats.json

# Sphinx documentation
docs/_build/

# celery beat schedule file
celerybeat-schedule

# Environments
.venv

# mypy
.mypy_cache/

### Node template
# Logs
logs
*.log

# Dependency directories
node_modules/

### Project template
locuszoom_plotting_service/media/
scripts/data_loaders/raw/*
scripts/data_loaders/sources/*

### Things mounted by local-mode docker container
.lookups/

# Configuration files that should not be checked into Git
.envs/*
!.envs/.local/
